 <header id="ec-header" th:fragment="navigation">
          
            <!--// Main Header \\-->
            <div class="ec-main-navsection">
                <div class="container">
                    <a href="index.html" class="ec-logo"><img src="asset/images/footLogo.png" alt=""></a>
                    <div class="ec-right-section">
                        <nav class="ec-navigation">
                            <ul>
                                <li ><a href="index.html">Home</a></li>
                                <li><a href="#">Team</a>
                                    <ul class="as-dropdown">
                                        <li><a href="#">FootBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="/players-football">Players</a></li>
                                                <li><a href="/staff-football">Staff</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">HandBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="/players-handball">Players</a></li>
                                                <li><a href="/staff-handball">Staff</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Fixtures</a>
                                    <ul class="as-dropdown">
                                        <li><a href="gallery-simple.html">FootBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="blog-detail.html">calendar</a>
                                                    <ul class="as-dropdown">
                                                        <li><a href="blog-detail.html">Saission 1 </a></li>
                                                        <li><a href="blog-detail-audio.html">Saission 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery-simple-3column.html">HandBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="blog-detail.html">calendar</a>
                                                    <ul class="as-dropdown">
                                                        <li><a href="blog-detail.html">Saission 1 </a></li>
                                                        <li><a href="blog-detail-audio.html">Saission 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="News_foot.html">News</a>
                                </li>
                                <li><a href="about-us.html">about us</a></li>
                            </ul>
                        </nav>
                        <!--// Responsive Menu //-->
                        <div id="as-menu" class="as-menuwrapper">
                            <button class="as-trigger">Open Menu</button>
                            <ul class="as-menu">
                                <li class="active"><a href="index.html">Home</a></li>
                                <li><a href="about-us.html">about</a></li>
                                <li><a href="service.html">service</a></li>
                                <li><a href="#">Blog</a>
                                    <ul class="as-submenu">
                                        <li><a href="blog-grid.html">blog Grid Simple</a></li>
                                        <li><a href="blog-grid-modren.html">blog Grid Modren</a></li>
                                        <li><a href="blog-medium.html">blog Medium</a></li>
                                        <li><a href="blog-detail.html">blog detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Gallery</a>
                                    <ul class="as-submenu">
                                        <li><a href="gallery-static.html">Simple Gallery</a></li>
                                        <li><a href="gallery-static-twcol.html">Simple Gallery 2Column</a></li>
                                        <li><a href="gallery-static-thcol.html">Simple Gallery 3Column</a></li>
                                        <li><a href="gallery-video.html">Video Gallery</a></li>
                                        <li><a href="gallery-video-thcol.html">Video Gallery 3Column</a></li>
                                        <li><a href="gallery-video-frcol.html">Video Gallery 4Column</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Shop</a>
                                    <ul class="as-submenu">
                                        <li><a href="shop-list.html">Shop List</a></li>
                                        <li><a href="plyer-list-left-sbar.html">Shop List W/left/sidebar</a></li>
                                        <li><a href="shop-list-wsidebar.html">Shop List W/right/sidebar</a></li>
                                        <li><a href="shop-list-w-b-sidebar">Shop List W/both/sidebar</a></li>
                                        <li><a href="plyer-list-nosidebar.html">Shop List Wout/sidebar</a></li>
                                        <li><a href="shop-detail.html">shop detail</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">shortcode</a></li>
                                <li><a href="#">Pages</a>
                                    <ul class="as-submenu">
                                        <li><a href="price-plane.html">Price Plans</a></li>
                                        <li><a href="booking.html">booking Form</a></li>
                                        <li><a href="#">Team</a>
                                            <ul class="as-submenu">
                                                <li><a href="team-grid.html">team</a></li>
                                                <li><a href="team-detail.html">team detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">shortcode</a></li>
                                        <li><a href="404.html">404 Page</a></li>
                                        <li><a href="undercunstruction.html">UnderConstruction</a></li>
                                    </ul>
                                </li>
                                <li><a href="contact-us.html">contact us</a></li>
                            </ul>
                        </div>
                        <!--// Responsive Menu //-->
                        <ul class="ec-user-section">
                       
                            <li><a href="#" > <i class="fa fa-shopping-cart"></i> <span class="tooltiptext">Buy Tickets</span></a>
                                <div class="ec-cart-box">
                                    <h2>You have 3 items in the cart</h2>
                                    <ul>
                                        <li>
                                            <figure>
                                                <a href="#"><img src="asset/extra-images/cartbox-1.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-cartbox-text">
                                                <h6><a href="#">Key Management Model The 60+ Models</a></h6>
                                                <div class="ec-rating"><span class="ec-rating-box" style="width:80%"></span></div>
                                                <span class="ec-cartbox-price ec-color">$35.99 <small>$43.00</small></span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#"><img src="asset/extra-images/cartbox-2.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-cartbox-text">
                                                <h6><a href="#">Pyramid Principle: Logic Writing & Thinking</a></h6>
                                                <div class="ec-rating"><span class="ec-rating-box" style="width:100%"></span></div>
                                                <span class="ec-cartbox-price ec-color">$21.00</span>
                                            </div>
                                        </li>
                                        <li>
                                            <figure>
                                                <a href="#"><img src="asset/extra-images/cartbox-3.jpg" alt=""></a>
                                            </figure>
                                            <div class="ec-cartbox-text">
                                                <h6><a href="#">The Back of the Napkin: Solving Problems</a></h6>
                                                <div class="ec-rating"><span class="ec-rating-box" style="width:60%"></span></div>
                                                <span class="ec-cartbox-price ec-color">$30.00 <small>$37.99</small></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <h5>Subtotal <span class="ec-color">$1343</span></h5>
                                    <div class="ec-cart-link"><a href="#" class="ec-cartbox-btn ec-bgcolorhover"><i class="flaticon-tool"></i> Go to Checkout</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// Main Header \\-->
        </header>