 <header id="ec-header" th:fragment="navigation">
          
            <!--// Main Header \\-->
            <div class="ec-main-navsection">
                <div class="container">
                    <a href="/manchester-united" class="ec-logo"><img src="asset/images/footLogo.png" alt=""></a>
                    <div class="ec-right-section">
                        <nav class="ec-navigation">
                            <ul>
                                <li ><a href="/manchester-united">Home</a></li>
                                <li><a href="#">Team</a>
                                    <ul class="as-dropdown">
                                        <li><a href="#">FootBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="/players-football">Players</a></li>
                                                <li><a href="/staff-football">Staff</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">HandBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="/players-handball">Players</a></li>
                                                <li><a href="/staff-handball">Staff</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">Fixtures</a>
                                    <ul class="as-dropdown">
                                        <li><a href="gallery-simple.html">FootBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="blog-detail.html">calendar</a>
                                                    <ul class="as-dropdown">
                                                        <li><a href="blog-detail.html">Saission 1 </a></li>
                                                        <li><a href="blog-detail-audio.html">Saission 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="gallery-simple-3column.html">HandBall</a>
                                            <ul class="as-dropdown">
                                                <li><a href="blog-detail.html">calendar</a>
                                                    <ul class="as-dropdown">
                                                        <li><a href="blog-detail.html">Saission 1 </a></li>
                                                        <li><a href="blog-detail-audio.html">Saission 2</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="News_foot.html">News</a>
                                 <ul class="as-dropdown">
                                                <li><a href="/news-football">FootBall</a></li>
                                                <li><a href="/news-handball">HandBall</a></li>
                                            </ul>
                                
                                </li>
                                
                                
                                
                                <li><a href="/contact">Contact Us</a></li>
                            </ul>
                        </nav>
                       
                        <ul class="ec-user-section">
                       
                            <li><a href="/login" > <i class="fa fa-shopping-cart"></i> </br></br></br><span class="tooltiptext">Buy Tickets</span></a>
                                
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--// Main Header \\-->
        </header>